<% 
    if (LightBlog.getSession(response, request))
    {
        response.redirect(LightBlog.DASHBOARD_PATH, true, false);
        return "";
    }
%> 
<!DOCTYPE html>  
<html> 
    <head>  
        <title>Login - LightBlog</title>
        <link href="https://unpkg.com/@primer/css/dist/primer.css" rel="stylesheet" onload="if(media!='all')media='all'" />
        <link href="<%= LightBlog.ADMIN_STYLE_PATH %>" rel="stylesheet" media="screen" onload="if(media!='all')media='all'">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>         
    <body> 
        <div> 
            <form id="form">
                <span id="info">Please login to access the dashboard.</span><br><br>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username"><br><br>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password"><br><br>
                <input type="submit" class="btn btn-primary" id="submit" value="Login">

                <input type="checkbox" id="remember-me" name="remember-me" >
                <label for="remember-me" style="font-weight: unset;">Remember me</label>
            </form> 
        </div>
        <script>
            document.getElementById("form").onsubmit = function(event) 
            {
                event.preventDefault();

                document.getElementById("submit").disabled = true;
                document.getElementById("info").style = "";
                document.getElementById("info").textContent = "Processing...";
 
                fetch("/admin/login", { 
                    method: "POST",
                    body: JSON.stringify({
                        "username": document.getElementById("username").value,
                        "password": document.getElementById("password").value,
                        "rememberMe": document.getElementById("remember-me").checked,
                    })
                }) 
                .then(response => response.json())
                .then((data) => 
                {
                    document.getElementById("submit").disabled = false;

                    if (data.success)
                    {
                        document.getElementById("info").textContent = "Successfully logged in, redirecting.";

                        window.location.replace("<%= LightBlog.DASHBOARD_PATH %>");
                    }
                    else 
                    {
                        document.getElementById("info").style = "color:red;";
                        document.getElementById("info").textContent = "Invalid password or username provided.";
                    }
                });
            }
        </script>
    </body>
</html>   