<!DOCTYPE html>  
<html>
    <head>  
        <title>Lightblog</title>
        <link href="style.css" rel="stylesheet" media="screen">
    </head>       
    <body>   
        <% response.cache = true %> 
    </body>
</html>  