<% 
const session = LightBlog.getSession(response, request);

if (!session)
{
    response.redirect(LightBlog.INDEX_PATH, true, true);
    return "";
}
%> 
<!DOCTYPE html>  
<html> 
    <head>  
        <title>LightBlog Administration</title>
        <link href="/admin.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre" media="all" onload="if(media!='all')media='all'">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>         
    <body> 
        <div class="topbar">
            <a href="index">Control Panel</a> / 
        </div>
        <div class="menu">
            <a href="index">Create New Post</a>
            <a href="index">Edit Profile</a>
            <a href="logout">Logout</a>
        </div> 
        <div class="posts"> 
            <% const posts = LightBlog.getPosts("-1"); %> 
            <% if (posts) { %> 
                <% for (const post of posts) {%>
                    <div class="postBox">
                        <div class="postHeader">
                            <a class="postTitle" href="edit?<%= post.id %>"><%= post.title %></a>
                            <div class="postDate"><%= post.date %> - <%= post.author %></div>
                        </div>
                    </div>
                <% } %>
            <% } else { %> 
                <h1>Unable to fetch posts.</h1>
            <% } %> 
        </div>
    </body>
</html>   